.container{
    max-width: 90rem;
    margin: auto;
    background: aliceblue;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    background-color: aqua;
    padding: 1rem;
    border-radius: 2rem;
}


